<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Administration - Halé Bou Rér</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>

<button onclick="window.location.href='/'" class="btn-retour">
←
</button>

<style>
.btn-retour {
    position: fixed;
    top: 12px;
    left: 12px;
    width: 40px;
    height: 40px;
    border: 2px solid #2E7D32;
    border-radius: 50%;
    background: white;
    color: #2E7D32;
    font-size: 25px;
    font-weight: bold;
    box-shadow: 0 3px 10px rgba(0,0,0,0.35);
    z-index: 99999;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 9999;
}
</style>


<h1>🔒 Administration</h1>

<form method="POST" action="/admin">
    <label>Mot de passe</label><br>
    <input type="password" name="mot_de_passe" placeholder="Mot de passe admin"><br><br>

    {% if erreur %}
    <p style="color:red;">{{ erreur }}</p>
    {% endif %}

    <button type="submit">Se connecter</button>
</form>

<br>
<a href="/">⬅ Retour à l'accueil</a>

</body>
</html>
