<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Administration - Halé Bou Rér</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>

<button onclick="window.location.href='/'" class="btn-retour">
←
</button>

<style>
.btn-retour {
    position: fixed;
    top: -10px;
    left: -8px;
    width: auto;
    height: auto;
    border: none;
    border-radius: 0;
    background: transparent;
    color: #1B5E20;
    font-size: 76px;
    font-weight: 300;
    box-shadow: none;
    cursor: pointer;
    z-index: 999;
    line-height: 1;
}
</style>


<h1>🔒 Administration</h1>

<form method="POST" action="/admin">
    <label>Mot de passe</label><br>
    <input type="password" name="mot_de_passe" placeholder="Mot de passe admin"><br><br>

    {% if erreur %}
    <p style="color:red;">{{ erreur }}</p>
    {% endif %}

    <button type="submit">Se connecter</button>
</form>

<br>
<a href="/">⬅ Retour à l'accueil</a>

</body>
</html>
