<!DOCTYPE html>
<html lang="fr">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Détail du signalement</title>
<link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>

<button onclick="window.location.href='/'" class="btn-retour">
←
</button>

<style>
.btn-retour {
    position: fixed;
    top: 12px;
    left: 12px;
    width: 40px;
    height: 40px;
    border: 2px solid #2E7D32;
    border-radius: 50%;
    background: white;
    color: #2E7D32;
    font-size: 25px;
    font-weight: bold;
    box-shadow: 0 3px 10px rgba(0,0,0,0.35);
    z-index: 99999;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 9999;
}
</style>


<button onclick="history.back()" style="position:fixed;top:15px;left:15px;padding:10px 15px;border:none;border-radius:10px;background:#2E7D32;color:white;cursor:pointer;">
⬅ Retour
</button>

<div style="max-width:700px;margin:70px auto;padding:20px;">

{% if signalement[2] %}
<img src="/uploads/{{ signalement[2] }}" style="width:100%;border-radius:20px;">
{% endif %}

<h2>
{% if signalement[1]=="perdu" %}
🟠 Enfant perdu
{% else %}
🟢 Enfant trouvé
{% endif %}
</h2>

<p><b>👤 Prénom :</b> {{ signalement[10] }}</p>
<p><b>🎂 Âge :</b> {{ signalement[11] }}</p>
<p><b>⚧ Sexe :</b> {{ signalement[12] }}</p>
<p><b>🏙️ Ville :</b> {{ signalement[13] }}</p>
<p><b>📍 Zone :</b> {{ signalement[3] }}</p>
<p><b>📝 Description :</b><br>{{ signalement[4] }}</p>
<p><b>📅 Date :</b> {{ signalement[6] }}</p>


{% if signalement[8] and signalement[9] %}

<h3>📍 Localisation</h3>

<div id="carte" style="height:300px;border-radius:15px;"></div>

<link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css"/>
<script src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js"></script>

<script>
var carte = L.map('carte').setView(
    [{{ signalement[8] }}, {{ signalement[9] }}], 
    15
);

L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
    attribution: '&copy; OpenStreetMap'
}).addTo(carte);

L.marker([
    {{ signalement[8] }},
    {{ signalement[9] }}
]).addTo(carte);

</script>

{% endif %}


<br><br>

<button onclick="partagerSignalement()" style="background:#2E7D32;color:white;border:none;padding:12px 20px;border-radius:10px;font-size:16px;cursor:pointer;">
📤 Partager ce signalement
</button>

<script>
function partagerSignalement() {
    if (navigator.share) {
        navigator.share({
            title: "Halé Bou Rér - Signalement",
            text: "Aidez-nous à retrouver cet enfant.",
            url: window.location.href
        });
    } else {
        navigator.clipboard.writeText(window.location.href);
        alert("Lien copié. Vous pouvez maintenant le partager.");
    }
}
</script>

</div>

</body>
</html>
