<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Halé Bou Rér</title>

    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <link rel="manifest" href="{{ url_for('static', filename='manifest.json') }}">
    <meta name="theme-color" content="#2E7D32">
</head>

<body>

<button onclick="window.location.href='/'" class="btn-retour">
←
</button>

<style>
.btn-retour {
    position: fixed;
    top: 12px;
    left: 12px;
    width: 40px;
    height: 40px;
    border: 2px solid #2E7D32;
    border-radius: 50%;
    background: white;
    color: #2E7D32;
    font-size: 25px;
    font-weight: bold;
    box-shadow: 0 3px 10px rgba(0,0,0,0.35);
    z-index: 99999;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 9999;
}
</style>


<div class="header">
<img src="{{ url_for('static', filename='images/logo.png') }}" style="width:100%; max-width:500px; border-radius:20px;">
<h2 style="margin-bottom:5px;"><span style="color:#FFD700;">👨‍👩‍👧</span> <span style="color:#FFD700;">👶</span> Retrouvons nos enfants ensemble</h2>
</div>

<div class="accueil">


{% if nb_aujourdhui and nb_aujourdhui > 0 %}
<a href="/signalements" style="text-decoration:none;">
<div style="background:#1976D2; color:white; padding:12px; border-radius:12px; max-width:400px; margin:15px auto; font-weight:bold; cursor:pointer;">
    🔔 {{ nb_aujourdhui }} nouveau{{ 's' if nb_aujourdhui > 1 else '' }} signalement{{ 's' if nb_aujourdhui > 1 else '' }} aujourd'hui
</div>
</a>
{% endif %}



<br>

<a href="/signalements">
    <button>
        📋 Voir les signalements
    </button>
</a>

<br><br>

<a href="/trouve">
    <button class="btn-trouve">
        🟢 J'ai trouvé un enfant
    </button>
</a>

<br><br>

<a href="/perdu">
    <button class="btn-perdu">
        🟠 Je cherche un enfant
    </button>
</a>

</div>

<script>
if ('serviceWorker' in navigator) {
    navigator.serviceWorker.register('/static/service-worker.js');
}
</script>

</body>
</html>
