<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Créer un compte - Halé Bou Rér</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>

<body>

<button onclick="window.location.href='/'" class="btn-retour">
←
</button>

<style>
.btn-retour {
    position: fixed;
    top: 0px;
    left: 0px;
    width: auto;
    height: auto;
    border: none;
    border-radius: 0;
    background: transparent;
    color: #1B5E20;
    font-size: 76px;
    font-weight: bold;
    box-shadow: none;
    cursor: pointer;
    z-index: 999;
    line-height: 1;
}
</style>

<h1>📝 Créer un compte</h1>

{% if erreur %}
<p style="color:red; text-align:center; font-weight:bold;">⚠️ {{ erreur }}</p>
{% endif %}

<form method="POST" action="/inscription">

    <label>Nom</label><br>
    <input type="text" name="nom" placeholder="Votre nom"><br><br>

    <label>Email</label><br>
    <input type="email" name="email" placeholder="exemple@email.com"><br><br>

    <label>Téléphone</label><br>
    <input type="tel" name="telephone" placeholder="7X XXX XX XX"><br><br>

    <label>Mot de passe</label><br>
    <input type="password" name="mot_de_passe" required><br><br>

    <button type="submit">
        Créer mon compte
    </button>

</form>

<br>

<p style="text-align:center;">Déjà un compte ? <a href="/connexion">Se connecter</a></p>

<a href="/">⬅ Retour à l'accueil</a>

</body>
</html>
