<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Signalements - Halé Bou Rér</title>

    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css" />
    <script src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js"></script>
</head>

<body>

<h1>📋 Signalements récents</h1>

<div id="carte" style="height: 400px; margin-bottom: 20px; border-radius: 10px;"></div>

<div class="filtre-boutons" style="text-align:center; margin-bottom:20px;">
    <a href="/signalements"><button>Tous</button></a>
    <a href="/signalements?filtre=trouve"><button>🟢 Trouvés</button></a>
    <a href="/signalements?filtre=perdu"><button>🟠 Perdus</button></a>
</div>

<form method="GET" action="/signalements" style="text-align:center; margin-bottom:20px;">
    {% if filtre %}<input type="hidden" name="filtre" value="{{ filtre }}">{% endif %}
    <input type="text" name="recherche" placeholder="🔍 Rechercher par quartier..." value="{{ recherche or '' }}" style="width:80%; max-width:400px; padding:12px; border-radius:20px; border:1px solid #ccc;">
</form>

<script>
var carte = L.map('carte').setView([14.6928, -17.4467], 7);

L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
    attribution: '&copy; OpenStreetMap'
}).addTo(carte);

var points = [
    {% for signalement in signalements %}
    {% if signalement[8] and signalement[9] %}
    {
        lat: {{ signalement[8] }},
        lng: {{ signalement[9] }},
        type: "{{ signalement[1] }}",
        zone: "{{ signalement[3] }}"
    },
    {% endif %}
    {% endfor %}
];

points.forEach(function(p) {
    var couleur = p.type === "trouve" ? "green" : "orange";
    L.circleMarker([p.lat, p.lng], {
        color: couleur,
        fillColor: couleur,
        fillOpacity: 0.8,
        radius: 8
    }).addTo(carte).bindPopup(p.zone);
});
</script>

{% for signalement in signalements %}

<div class="carte-signalement">

{% if signalement[1] == "trouve" %}
<h2 class="trouve">🟢 Enfant trouvé</h2>
{% else %}
<h2 class="perdu">🟠 Enfant perdu</h2>
{% endif %}


{% if signalement[2] %}<img src="/uploads/{{ signalement[2] }}" width="200" style="border-radius:15px;"><br><br>{% endif %}

<p><b>📍 Zone :</b> {{ signalement[3] }}</p>

<p><b>📝 Description :</b><br>
{{ signalement[4] }}</p>

<p><b>📞 Contact :</b> {{ signalement[5] }}</p>

<p><b>📅 Date :</b> {{ signalement[6] }}</p>

<form method="POST" action="/resolu/{{ signalement[0] }}">
<button class="btn-resolu">
✅ Marquer comme résolu
</button>
</form>

</div>

{% endfor %}

<a href="/">⬅ Retour à l'accueil</a>

</body>
</html>
