<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Enfant trouvé - Halé Bou Rér</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>

<body>

<button onclick="window.location.href='/'" class="btn-retour">
←
</button>

<style>
.btn-retour {
    position: fixed;
    top: 12px;
    left: 12px;
    width: 40px;
    height: 40px;
    border: 2px solid #2E7D32;
    border-radius: 50%;
    background: white;
    color: #2E7D32;
    font-size: 25px;
    font-weight: bold;
    box-shadow: 0 3px 10px rgba(0,0,0,0.35);
    z-index: 99999;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 9999;
}
</style>


<h1>🟢 J'ai trouvé un enfant</h1>

<form method="POST" action="/trouve" enctype="multipart/form-data">

    <label>Photo de l'enfant</label><br>
    <input type="file" name="photo" accept="image/*"><br><br>

    <label>Prénom</label><br>
    <input type="text" name="prenom" placeholder="Prénom de l'enfant"><br><br>

    <label>Âge</label><br>
    <input type="text" name="age" placeholder="Exemple : 8 ans"><br><br>

    <label>Sexe</label><br>
    <select name="sexe">
        <option value="">Sélectionner</option>
        <option value="Garçon">Garçon</option>
        <option value="Fille">Fille</option>
    </select><br><br>

    <label>Ville</label><br>
    <input type="text" name="ville" placeholder="Exemple : Dakar"><br><br>

    <label>Zone où l'enfant a été trouvé</label><br>
    <input type="text" name="zone" placeholder="Exemple : Médina"><br><br>

    <label>Description</label><br>
    <textarea name="description" placeholder="Vêtements, âge approximatif, signes particuliers..."></textarea><br><br>

    <label>Numéro de téléphone</label><br>
    <input type="tel" name="telephone"><br><br>

    <input type="hidden" name="latitude" id="latitude">
    <input type="hidden" name="longitude" id="longitude">

    <p id="statut_position">📍 Localisation en cours...</p>

    <br>

    <button type="submit">
        Publier le signalement
    </button>

</form>

<script>
window.onload = obtenirPosition;

function obtenirPosition() {
    if (navigator.geolocation) {
        navigator.geolocation.getCurrentPosition(function(position) {
            document.getElementById("latitude").value = position.coords.latitude;
            document.getElementById("longitude").value = position.coords.longitude;
            document.getElementById("statut_position").innerHTML = "✅ Position enregistrée";
        }, function() {
            document.getElementById("statut_position").innerHTML = "❌ Position indisponible";
        });
    }
}
</script>

<br>

<a href="/">⬅ Retour à l'accueil</a>

</body>
</html>
